/* general */
:root {
    --backround-color: #ffffff;
    --logo-color : #4D5AE5;
    --address-future-text-color: #434455;
    --future-title-color: #2E2F42;
    --section-team-color: #F4F4FD;
    --team-name-color: #2E2F42;
    --team-text-color: #434455;
    --footer-text-color: #E7E9FC;
    --portfolio-title-color: #2E2F42;
    --portfolio-text-color: #434455;
    --navigation-link-color: #2E2F42;
    --hero-title-color: #ffffff;
    --accent-color: #404BBF;
    --active-portfolio-border-color: #F4F4FD;
    --portfolio-text-border-color: #E7E9FC;
}


h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol,li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

body {
    background-color: var(--backround-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

textarea {
    resize: none;
}


.container{
    margin: 0 auto;
    width: 1158px;
    /* outline: 1px solid red; */
    padding: 0 15px;
}

.nav-address {
    display: flex;
}

.address {
    margin-left: auto;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
    padding-top: 96px;
    padding-bottom: 120px;
}

.studio-header {
    color: #2E2F42;
}

.studio-footer{
    color: #F4F4FD;
}

.navigation-link {
    padding: 24px 0 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navigation-link-color);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation li {
    margin-right: 40px;
}
.navigation li:last-child{
    margin-right: 0;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.address-link {
    padding: 24px 0 24px 0;
    width: 153px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-future-text-color);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.footer {
    margin: 0 auto;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-fotter {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-bottom: 16px;
    display: inline-block;
}

.footer-social-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.footer-content {
    display: flex;
    align-items: baseline;
}


.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-text {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}


.footer-content-item {
    margin-right: 120px;
}

.footer-content-item:nth-child(2) {
    margin-right: 80px;
}

.footer-content-item:last-child {
    margin-right: 0;
}

.footer-form {
    display: flex;
}

.footer-mail-area {
    vertical-align: middle;
}

.footer-form-btn {
    display: block;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 170px;

    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color 250ms linear;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #404BBF;
}


.footer-form-input::placeholder {
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: color 250ms linear;
}

.footer-form-input:focus.footer-form-input::placeholder {
    color: #2E2F42;
}


.footer-form-input {
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 24px;
    width: 264px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2E2F42;
    transition: background-color 250ms linear;
}

.footer-form-input:focus {
    background-color: #FFFFFF;
}

.submit-icon {
   margin-left: 16px;
   vertical-align: middle;
}

.current {
    position: relative;
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}



/* For index.html */

.hero {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section:nth-child(3) {
    padding-top: 0;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-title-color);
}

.button-studio {
    padding: 16px 32px;
    margin: 0 auto;
    display: block;

    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.future-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

.future-flex {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    gap: 24px;
}

.future-flex-content {
    width: 360px;
}


.future-flex-team {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    gap: 24px;
    margin-bottom: 0;
}

.button-studio:hover,
.button-studio:focus {
    background-color: #404BBF;
}

.future-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--future-title-color);
}



.future-item {
    width: 264px;
}

.future-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-future-text-color);
}

.section-title-about {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--future-title-color);
}

.section-title-team {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--future-title-color);
}

.taem {
    background-color: var(--section-team-color);
    margin: 0 auto;
}

.taem-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--backround-color);
    width: 264px;
}

.team-item-text {
    padding: 32px 16px;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--team-name-color);
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--team-text-color);
    margin-bottom: 8px;
}

.social-list-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-link-icon {
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
    background-color: #404BBF; 
}

.company-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.company-link:hover,
.company-link:focus {
    border-color: #404BBF;
}

.company-item {
    fill:#8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover .company-item,
.company-link:focus .company-item {
    fill: #404BBF;
}

.company-link {
    display: block;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    padding: 16px 32px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* For portfolio.html */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav-address-portfolio {
    display: flex;
}

.button-portfolio {
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    display: block;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    cursor: pointer;
    min-width: 64px;
    color: #4D5AE5;
    align-items: center;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}


.button-portfolio:hover,
.button-portfolio:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: #404BBF;
    background-color: #404BBF;
    color: #FFFFFF;
}

.portfolio-img {
    width: 360px;
}

.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-title-color);
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portfolio-text-color);
}

.button-content {
    display: flex;
}

.button-list {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 72px;
}

.button-list li {
    margin-right: 24px;
}

.button-list li:last-child {
    margin-right: 0;
}


.portfolio-text-conteiner {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--portfolio-text-border-color);
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-box:hover .portfolio-text-conteiner, 
.portfolio-box:focus .portfolio-text-conteiner{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-box:hover .overlay,
.portfolio-box:focus .overlay {  
    transform: translateY(0);
}

.portfolio-box:hover,
.portfolio-box:focus {
    outline: transparent;
}

.overlay-text {
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 360px;
    height: 300px;
    backdrop-filter: blur(6px);
    background-color: rgba(76, 89, 230, 0.8);;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-img:hover .overlay {
    transform: translateY(0);
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden > .modal {
    transform: translate(-50%,-50%) scale(0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    max-width: 408px;
    width: 100%;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms linear;
}


.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms linear, fill 250ms linear;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
}

.modal-name {
    display: block;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
    margin-bottom: 16px;
}

.modal-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-comments {
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    width: 100%;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms linear;
}

.modal-comments::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-comments:focus {
    border-color: #4D5AE5;
}

.modal-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal-group:not(:last-child) {
    margin-bottom: 8px;
}

.modal-group:last-child {
    margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 5px;
    font-size: 14px;
    outline: transparent;
    transition: border-color 250ms linear;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms linear;
}
.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

/* Checkbox */


.modal-form-agreement {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
    
}

.checked {
    fill: #4D5AE5;
    opacity: 0;
    transition: opacity 250ms linear;
}

.modal-form-checkbox:checked+.modal-form-custom-checkbox>.checked {
    opacity: 1;
}

.unchecked {
    opacity: 1;
    transition: opacity 250ms linear;
}

.modal-form-checkbox:checked+.modal-form-custom-checkbox>.unchecked {
    opacity: 0;
}

.modal-form-agreement-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-agreement-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.modal-form-agreement-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms linear;
}

.modal-form-agreement-btn:hover,
.modal-form-agreement-btn:focus {
    background-color: #404BBF;
}
